/*

Denmkit 2023 Wayz.X 

https://denmkit.github.io/

*/

  /* @font-face {
      font-family: 'Plain';
      src: url('../fonts/Plain-Regular.woff2') format('woff2'),
          url('../fonts/Plain-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'Plain';
      src: url('../fonts/Plain-Light.woff2') format('woff2'),
          url('../fonts/Plain-Light.woff') format('woff');
      font-weight: 300;
      font-style: normal;
  }

  @font-face {
      font-family: 'Plain';
      src: url('../fonts/Plain-Bold.woff2') format('woff2'),
          url('../fonts/Plain-Bold.woff') format('woff');
      font-weight: bold;
      font-style: normal;
  } */

  :root {
    --primary-color:        #009ee2;
    --white-color:          #ffffff;
    --dark-color:           #171819;
    --about-bg-color:       #f9f9f9;

    --gray-color:           #909090;
    --light-gray-color:     #e0e0e0;
    --link-color:           #404040;
    --p-color:              #666262;

    --base-font-family:     'Roboto', sans-serif;
    --font-weight-bold:     700;
    --font-weight-medium:   500;
    --font-weight-regular:  400;
    --font-weight-light:    300;
    --font-weight-thin:     100;

    --h1-font-size:         48px;
    --h2-font-size:         34px;
    --h3-font-size:         28px;
    --h4-font-size:         24px;
    --h5-font-size:         22px;
    --h6-font-size:         20px;
    --p-font-size:          18px;
    --base-font-size:       16px;
    --menu-font-size:       14px;

    --border-radius-large:  100%;
    --border-radius-small:  8px;
  }


  body {
    background: var(--white-color);
    font-family: var(--base-font-family);
  }


  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: var(--font-weight-thin);
    line-height: normal;
  }

  h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight-bold);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 30px 0;
  }

  h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
    /* letter-spacing: 0px; */
  }

  h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-weight-bold);
    /* letter-spacing: -1px; */
    margin: 0;
  }

  h4 {
    font-size: var(--h4-font-size);
    font-weight: var(--font-weight-bold);
    /* letter-spacing: -1px; */
    margin: 0;
  }

  h5 {
    font-size: var(--h5-font-size);
  }

  h6 {
    color: var(--gray-color);
    font-size: var(--h6-font-size);
    line-height: inherit;
    margin: 0;
  }

  p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
    line-height: 1.5em;
  }

  b, 
  strong {
    font-weight: var(--font-weight-bold);
    letter-spacing: 0;
  }

  .section {
    padding: 7rem 0;
  }


  /* BUTTON */

  .custom-btn {
    /* background: transparent; */
    border-radius: var(--border-radius-small);
    padding: 14px 24px;
    color: var(--primary-color);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-normal);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    white-space: nowrap;
    transition: all 0.3s ease;
  }

  .custom-btn:focus {
    box-shadow: none;
  }

  .bg-color:hover{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: transparent;
  }

  .bordered {
    border: 1px solid var(--primary-color);
  }

  .bg-color,
  .bg-color:hover:active,
  .bordered:hover {
    background: var(--primary-color);
    color: var(--white-color);
  }

  .touchevents .bg-color:hover,
  .touchevents .bordered:hover:active {
    background: var(--primary-color);
    color: var(--white-color);
  }

  .touchevents .bordered:hover,
  .touchevents .bg-color:active {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: transparent;
  }

  .active, .active:hover {
    background: var(--primary-color);
    color: var(--white-color);
  }






  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a {
    color: var(--link-color);
    font-weight: normal;
    text-decoration: none;
    transition: all 0.3s ease;
  }
/* , 
  a:focus  */
  a:hover {
    color: var(--primary-color);
    outline: none;
    text-decoration: none;
  }
  p a {
    color: var(--primary-color);
  }

  p a:hover {
    text-decoration: underline;
  }


  /* BG OVERLAY */

  .bg-overlay {
    background: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.10;
  }


  /*---------------------------------------
     MODAL              
  -----------------------------------------*/

  .modal-content {
    padding: 2rem 3rem;
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    border: 0;
    padding: 0;
  }

  .membership-form a {
    color: var(--primary-color);
  }


  /*---------------------------------------
    FEATURE          
  -----------------------------------------*/

  .feature {
    background: var(--dark-color);
    padding: 1rem 0;
  }


  /*---------------------------------------
     MENU             
  -----------------------------------------*/

  .navbar {
    background: var(--dark-color);
    padding: 1rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .navbar-brand {
    color: var(--white-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-weight-bold);
    line-height: normal;
    padding-top: 0;
  }

  .nav-item .nav-link {
    display: block;
    color: var(--white-color);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-normal);
    text-transform: uppercase;
    padding: 2px 6px;
  }

  .nav-item .nav-link.active,
  .nav-item .nav-link:hover {
    color: var(--primary-color);
  }

  .navbar .social-icon li a {
    color: var(--white-color);
  }

  .navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0 10px 0 10px;
    width: 230px;
    height: 35px;
    outline: none;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: transparent;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
    top: 0;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    transform: rotate(45deg);
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transform: rotate(-45deg);
  }

  .navbar-toggler .navbar-toggler-icon {
    background: var(--primary-color);
    transition: background 10ms 300ms ease;
    /* display: block; */
    width: 30px;
    height: 2px;
    position: relative;
    align-self: center;
  }

  .navbar-toggler .navbar-toggler-icon::before,
  .navbar-toggler .navbar-toggler-icon::after {
    transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
    position: absolute;
    right: 0;
    left: 0;
    background: var(--primary-color);
    width: 30px;
    height: 2px;
    content: '';
  }

  .navbar-toggler .navbar-toggler-icon::before {
    top: -8px;
  }

  .navbar-toggler .navbar-toggler-icon::after {
    top: 8px;
  }

  .navbar-toggler .button-label {
    display: block;
    font-size: var(--h5-font-size);
    /* float: left; */
    font-weight: bold;
    /* line-height: 14px; */
    padding-right: 20px;
}

  /*---------------------------------------
     HERO              
  -----------------------------------------*/

  .hero {
    background-image: url('../images/hero-bg-wide.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-height: 99vh;
    position: relative;
  }


  /*---------------------------------------
     CLASS               
  -----------------------------------------*/

  .class-info {
    background: var(--white-color);
    box-shadow: 6px 0 38px rgba(20,20,20,0.10);
    border-radius: 0 0 2px 2px;
    padding: 1rem 2rem;
    position: relative;
  }

  .class-info img {
    border-radius: 2px 2px 0 0;
  }

  .class-info strong {
    color: var(--gray-color);
  }

  .class-price {
    /* background: var(--primary-color); */
    /* border-radius: var(--border-radius-large); */
    /* color: var(--dark-color); */
    font-size: medium;
    font-weight: var(--font-weight-light);
    display: block;
    position: absolute;
    align-self: flex-end;
    bottom: 0rem;
    right: 1rem;
    width: 8.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: right;
  }


  /*---------------------------------------
     SCHEDULE             
  -----------------------------------------*/

  .schedule {
    background: var(--dark-color);
  }

  .schedule-table {
    display: table;
    border: 0;
    text-align: center;
  }

  .schedule-table strong,
  .schedule-table span {
    display: block;
    text-align: left;
  }

  .schedule-table strong {
    color: var(--dark-color);
  }

  .schedule-table span {
    color: var(--dark-color);
  }

  .schedule-table small {
    font-size: var(--menu-font-size);
    text-transform: uppercase;
  }

  .schedule-table small {
    position: relative;
    top: 10px;
  }about

  .table .thead-light th,
  .schedule-table tr{ 
    background: var(--white-color);
    border: 1px solid var(--gray-color);
    color: var(--dark-color);
  }
  /* td:first-child */

  .schedule-table .thead-light th {
    border-bottom: 0;
    text-transform: uppercase;
  }

  .table-bordered td, 
  .table-bordered th {
    border: 1px solid var(--gray-color);
  }

  .table-bordered td {
    padding-bottom: 22px;
  }

  .table td, .table th {
    padding: 1rem;
  }

  .cource td, .cource th {
    padding: 0rem;
    margin-bottom: 0rem;
    border: 0px;
    width: 10%;
  }

  /*---------------------------------------
      ABOUT & TEAM            
  -----------------------------------------*/

  .about {
    background: var(--about-bg-color);
  }

  .about-working-hours {
    border-left: 2px solid;
    padding-left: 3.5rem;
  }

  .about-working-hours strong {
    color: var(--white-color);
    opacity: 0.85;
  }

  .team-thumb {
    position: relative;
  }

  .team-info {
    background: var(--white-color);
    border-radius: 0 0 2px 2px;
    box-shadow: 6px 0 38px rgba(20,20,20,0.10);
    padding: 20px;
    position: relative;
  }

  .team-info span {
    font-weight: var(--font-weight-light);
    opacity: 0.85;
  }

  .team-info p {
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-light);
    opacity: 0.85;
  }


  /*---------------------------------------
     CONTACT              
  -----------------------------------------*/

  .webform input,
  button#submit-button {
    height: calc(2.25rem + 20px);
  }

  .form-control {
    border-radius: var(--border-radius-small);
    margin: 1.3rem 0;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: var(--dark-color);
  }

  button#submit-button {
    background: var(--dark-color);
    border-color: transparent;
    color: var(--white-color);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button#submit-button:hover {
    background: var(--primary-color);
  }

  .contact h2 + p {
    max-width: 90%;
  }

  .google-map {
    border-top: 1px solid #efebeb;
    margin-top: 2.5rem;
    padding-top: 2.5rem;
  }

  .google-map iframe {
    width: 100%;
  }


  /*---------------------------------------
     FOOTER              
  -----------------------------------------*/

  .site-footer {
    border-top: 1px solid #efebeb;
    padding: 3rem 0;
  }

  .site-footer a {
    color: var(--p-color);
    font-weight: var(--font-weight-light);
  }

  .site-footer a:hover {
    color: var(--primary-color);
    text-decoration: underline;;
  }

  .site-footer p {
    font-size: var(--base-font-size);
  }

  .contact .fa,
  .site-footer i{
    color: var(--primary-color);
  }


  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0;
    margin: 8px 8px 0px 0px;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon a {
    text-decoration: none;
    display: inline-block;
    color: var(--p-color);
    font-size: var(--h6-font-size);
    font-weight: var(--font-weight-bold);
    margin: 5px 10px;
    text-align: center;
  }

  .social-icon a:hover {
    color: var(--primary-color);
  }

  .icon {
    display: none !important;
  }

  .text-phone {
    margin-left: 16px;
  }
  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media screen and (max-width: 992px) {


    .section {
      padding: 5rem 0;
    }

    .nav-item .nav-link {
      padding: 6px;
    }

    .navbar .social-icon {
      margin-top: 22px;
    }

    .navbar-collapse {
      text-align: center
    }

    .schedule-table {
      display: block;
    }

    .modal-content {
      padding: 2rem;
    }

  }

 


  @media screen and (max-width: 767px) {

    h1 {
      font-size: 38px;
    }

    .about-working-hours {
      border-left: 1;
      padding: 22px 0 0 0;
    }

    .contact h2 span {
      display: block;
    }

    .site-footer {
      text-align: center;
    }

    #newbie-img{
      content:url("/images/cources/wide-newbie.png");
    }

    #carving-img{
      content:url("/images/cources/wide-carving.png");
    }

    #base-img{
      content:url("/images/cources/wide-base.png");
    }

    #upper-img{
      content:url("/images/cources/wide-upper.png");
    }

    #flat-img{
      content:url("/images/cources/wide-flat.png");
    }

    #uneven-img{
      content:url("/images/cources/wide-uneven.png");
    }
    .text-phone {
      margin-right: 16px;
      margin-left: auto;
    }

  }

  @media screen and (max-width: 576px) {

    .hero {
      background-image: url('../images/hero-bg-vert.png');
    }

    .section {
      padding: 2rem 0;
    }

    h2 {
      font-size: 20px;
    }

    h4 {
      font-size: var(--h6-font-size);
      font-weight: var(--font-weight-medium);
    }

    .tm-paging-item {
      font-size: var(--h6-font-size) !important;
      padding: 0;
    }

    .text-phone {
      margin-right: 6px !important;
    }

    .about-working-hours {
      border-left: 0;
      padding: 0;
    }

    .social-icons-header {
      padding: 0px 6px !important;
      font-size: 28px !important;
    }
    .social-icons-header-mini {
      font-size: 20px !important;
    }

    p {
      color: var(--p-color);
      font-size: var(--menu-font-size);
      font-weight: var(--font-weight-light);
      line-height: 1.5em;
    }
  }

  .tm-paging-links {
    text-align: center;
    margin-top: 20px;

  }

  .tm-paging-item {
    list-style: none;
    padding: 0px 10px;
    display: inline-block;
    font-size: var(--h5-font-size)
  }

  .tm-paging-link {
    padding: 4px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    border-bottom: 1px solid transparent;
  }
  
  /* .tm-paging-link:hover {
    border-bottom: 1px solid var(--primary-color);
  }
   */
  .tm-paging-link.active {
    font-weight: bold;
    /* border-bottom: 2px solid var(--primary-color); */
    color: var(--primary-color); 
  }

  .padding-t {
    padding: 4px 0px;
  }
  
  .hidden {
    display: none !important;
  }

  ul {
    list-style-position: inside;
    padding-left: 0;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .social-icons-header {
    list-style: none;
    padding: 0px 16px;
    display: inline-block;
    font-size: var(--h2-font-size);
    /* color: var(--primary-color) */
  }

  .social-icons-header-mini {
    list-style: none;
    padding: 0px 4px;
    display: inline-block;
    font-size: var(--h3-font-size);
    /* color: var(--primary-color) */
  }

  .social-icons-header-mini a{
    color: var(--p-color)
  }
  
  .social-icons-header-mini a:hover{
    color: var(--primary-color);
    text-decoration: none;
  }

  #svg{
    position: absolute;
    /* top: 0;
    left: 0; */
    /* width: 100%; */
    /* height: 300%; */
  }
  
  #curve0, #curve1, #curve2, #curve3, #curve4{
    stroke: var(--primary-color);
    stroke-width: 8;
    stroke-linecap: round; 
    fill: transparent;
  }

  @keyframes animatein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      stroke-dasharray: 1000, 0; 
    }
  }
  
  @keyframes animateout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      stroke-dasharray: 0, 1000; 
    }
  }

  .img-logo {
    margin: 8px;
    width: 100%;
    max-height: 80px;
    min-height: 60px;
    object-fit: contain;
    object-position: right;
   
    }

    .img-logo-mini {
      margin: 8px;
      width: 100%;
      max-height: 60px;
      min-height: 40px;
      object-fit: contain;
      object-position: left;
     
      }

      .header {
        margin: 0!important;
      }

      .header p{
        margin: 0!important;
      }

     .icon-mark {
      font-size: var(--base-font-size);
      color: var(--gray-color)
     }
     
    .mb-05 p{
      margin-bottom: .5em!important;
    }

    .ic{
      width: 22px;
      object-position: bottom;
      margin-bottom: -5px;
    }

    .ic-star{
      content: url(/images/icons/star.svg); 
    }

    .ic-shield{
      content: url(/images/icons/shield.svg); 
    }

    .ic-jacket{
      content: url(/images/icons/jacket.svg); 
    }

    .ic-helm{
      content: url(/images/icons/helm.svg); 
    }

    .ic-boots{
      content: url(/images/icons/boots.svg); 
    }

    .ic-board{
      content: url(/images/icons/board.svg); 
    }

    

    #card:hover,
    #prog-1:hover,
    #prog-2:hover,
    #prog-3-1:hover,
    #prog-3-2:hover,
    #prog-4-1:hover,
    #prog-4-2:hover{
      transform: scale(1.05)
    }

    /* Solid border */
  hr.solid {
  border-top: 1px solid var(--light-gray-color);
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .table td:first-child,
  .table td:last-child {
    width: 0.5%;
    white-space: nowrap;
  }

  .dots p::before {
    content: "\2022";
    display: inline-block; 
    width: 0.8em;

    /* margin-left: -1em; */
  }

  .copyright-text {
    color: var(--gray-color);
  }
  .text-white small {
    color: var(--gray-color);
    font-size: 90%;
  }
 .input {
  height: 100%;
  width: 6em;
  padding: 0px .8em;
  border-radius: .4em;
  border: 0.1em solid var(--primary-color);
 }

 .input:focus {
  outline: none !important;
  border: .2em solid var(--primary-color);
 }

 .alert {
  color: red;
  align-self: center;
 }